<section id="answer">
    <div class="container-fluid main">
    <div class="row g-3">
    <div class="col-8">
    
    
        <div  id="title" class=" px-5 my-5 ">
          <h2 class="s-color pb-2">Q: Who gets depression?</h2>
           <p> The World Health Organization Trusted Sourceestimates that 264 million people worldwide live with depression.
            It can impact anybody, regardless of gender, race, or age. But some groups do experience depression at higher rates than others.
            According to the National Institute of Mental Health (NIMH)Trusted Source, young adults ages 18-25, adult women, and people of two or more races are more likely to experience depressive episodes.
            People with substance use disorder and underlying medical conditions also develop depression at higher rates.</p>
        </div>
    
    
    
         <div id="types" class="px-5 ">
          <h2 class="s-color py-2">Q: What causes depression?</h2>
          <p> Researchers have been trying to find the exact cause of depression for centuries. Although the answers are still somewhat of a mystery, we know more than ever before.

            Researchers determined there are certain factors that might make you more likely to develop depression, including:</p>
          <ul>
              <li> genetics </li>
              <li>seasonal changes</li>
              <li>personality traits</li>
              <li>significant life changes</li>
              <li>lack of social support or close relationships</li>
              <li>high stress levels</li>
              <li>underlying medical conditions such as heart attack or cancer</li>
          </ul>  
          </div>
         <div id="content" class="px-5 ">
        <h2 class="s-color py-2"> Q: Why are women more likely to get depression?</h2>
        <p> Women develop depression twice as often as men. One reason may be the various changes in hormone levels that women experience. For example, depression is common during pregnancy and menopause, as well as after giving birth, suffering a miscarriage, or having a hysterectomy -- these are all times when women experience huge fluctuations in hormones. Premenstrual syndrome (PMS) and premenstrual dysphoric disorder (PMDD), an extreme form of PMS, may also cause depression.</p>
         </div>
    <div id="causes" class="px-5  my-5">
       <h2 class="s-color py-2">Q: How is depression diagnosed?</h2>
<p>To diagnose depression, an individual must meet certain criteriaTrusted Source provided in the Diagnostic and Statistical Manual of Mental Disorders (DSM-5).
You must have experienced a depressive episode lasting longer than 2 weeks. And at least five of the following symptoms have to be present most of the day, every day:</p>
        <ul>
          <li>depressed mood  </li>
          <li>diminished interest or pleasure in activities </li> 
          <li>significant change in appetite or weight</li>
          <li>insomnia or hypersomnia</li>
          <li>observable agitation or decline in physical movement</li>
          <li>loss of energy or fatigue</li>
          <li>feelings of worthlessness, or excessive or inappropriate guilt</li>
          <li>diminished ability to think or concentrate, or indecisiveness</li>
          <li>recurrent thoughts of death, suicidal ideation with or without a specific plan, or a suicide attempt</li>
       </ul>
       <p class="mb-0">For a diagnosis of depression, one of the five symptoms experienced has to be depressed mood or loss of interest.</p>

        <p> There’s no medical test for depression. However, a lab test might be able to tell if another condition – such as a thyroid problem or vitamin deficiency – might be causing your symptoms.
         
         You will likely be given a physical examination and asked a series of questions to get a better understanding of the type and severity of your symptoms.
         
         You can take this test if you think you might be depressed. But remember that this does not replace a professional diagnosis.</p>
       </div>
       
       </div>
       <div class="col-3 py-5    text-center  ">
          <img src="../../../assets/answer-removebg-preview.png" alt="g" class="w-100 mb-5">
          <div class="page m-auto ">
         <h2>On This Page</h2><hr>
         <h6><a (click)="onClick('title')"> Who gets depression?</a></h6>
         <hr>
         <h6><a (click)="onClick('types')">What causes depression?</a></h6>
         <hr>
         <h6><a (click)="onClick('content')">Why are women more likely to get depression?</a></h6>
         <hr>
         <h6><a (click)="onClick('causes')">How is depression diagnosed?</a></h6>
      
       <div class="depressed my-5 w-100">
         <h4 class="fw-bolder">Do I have depression?</h4> 
         <p>Take your text test & image test to know</p>
          <button class="btn d-block ms-auto w-50 border-none border-0  text-light  pd-5" id="sendMessageButton" type="submit"  routerLink="/imgtest"> Go To Test</button>
    
       </div>
    </div>
    
    
       </div>
    </div>
       </div>
    </section>
