<section id="answer">
    <div class="main container-fluid">

    
        <div id="types" class="px-5 mt-5">
            <h2 class="s-color py-2">The negative effects of depression on relationships</h2>
            <div class="ps-2">
            <p>Living with depression can impact your relationships with loved ones and friends. But there are ways to navigate interacting with others while managing your condition<br>
              Living with depression comes with challenges, including overcoming barriers to nourish and maintain meaningful relationships.</p>
           <h4 class="s-color">Romantic relationships</h4>
           <p>“You can quickly feel pushed away from your partner rather than drawn closer together. 
              Relationships take energy and goodwill to maintain well,
               and that can be hard to come up with when you’re [experiencing episodes of depression”.</p>
               <h4 class="s-color">Other relationships</h4>
               <p>During depressive episodes, you may be far less interested in spending time with friends and loved ones and have a harder time engaging at work.
                      <br>“You may feel like turning down invitations and pulling away from the people you care about… Activities that might have interested you before often just don’t sound appealing anymore, or the effort it would take to participate feels like it would take more energy than you can summon up” .</p>
            </div>
        </div>
        <div  id="title" class=" py-3 px-5 my-5 ">
          <h2 class="s-color pb-2">Tips on minimizing negative effects of depression on relationships</h2>
          <div class="ps-2">
          <h4 class="s-color">Romantic relationships</h4>
          <ul>
             <li> <span class="fw-bold">Understand your depression</span></li> 
            <li> <span class="fw-bold">Open up to your partner:</span> Share details about your mental health with your partner.</li>
            <li> <span class="fw-bold">Ask for what you need:</span> your partner for help can keep you close. </li>
            <li> <span class="fw-bold">Set times to be together:</span> out the times and situations when your energy is the best, and plan to do things together at those times. </li>
            <li> <span class="fw-bold">Avoid turning to substances:</span> Rather than turning to alcohol or cannabis to cover up how you’re feeling, it’s may be better to speak with a mental health professional who can help you get to the root cause of your depression and treat you accordingly.</li>
          </ul>
           <h4 class="s-color">Other relationships</h4>
           <ul>
            <li><span class="fw-bold">Confide in trusted friends:</span>Figure out which family and friends you feel safest sharing your situation with and tell them how you’re feeling.</li>
           <li><span class="fw-bold">Say ‘no’:</span> it’s OK to pass up invitations when you’re not feeling well.</li>
           <li><span class="fw-bold">Respond to invitations:</span> While saying no to invites is OK, rather than ignoring invitations to dinners, parties, and gatherings, let people know you want to connect and be involved with them again, but you’re not ready to get together right now</li>
           <li><span class="fw-bold">Explain your actions :</span>
            “If you’re feeling irritable or blue, be straight with your friends and loved ones, and let them know you’re not feeling quite right, rather than acting negative without an explanation”.</li>
           <li><span class="fw-bold">When to seek help:</span>
            Sometimes taking actions to manage your depression isn’t </li>
        </ul>
        </div>
    </div>
    
        
         <div id="content" class="ps-5 ">
        <h2 class="s-color py-2">The effect of depression on someone’s ability to work</h2>
        <div class="ps-2">
        <p>Depression is a common mental health condition,. Every day, Depressed patient  spend  around 8.5 hours at work — and the symptoms of depression don’t just stop during work hours.</p>
        <p> Workplaces can sometimes contribute to your depression, too, depending on their levels of stress or the availability of support.</p>
       <p>We’ll look at some ways depression might manifest in your work life.
        <ul>
            <li>Feeling down and low on energy at work.</li>
            <li>Overtime, it can affect your performance.</li>
            <li>It’s harder to connect with your colleague.</li>
            <li>It’s harder to let go of mistakes or failures.</li>
        </ul>
    </div>
    </div>
    <div id="causes" class="px-5 py-3 ">
       <h2 class="s-color py-2">Tips to cope with depression at work.</h2>
       <div class="ps-2">
<p>If you’re finding that depression is affecting your work life,
     there are many things you can do to gain a bit of motivation, rest, or relief throughout the day.</p>
        <ul>
          <li>Recognize your symptoms </li>
          <li>Identify some small things that bring you joy </li> 
          <li>Talk with coworkers or friends</li>
          <li>Breaks reduce stress</li>
           
       </ul>
    </div>
       </div>
       
       </div>
               
         
     
    
    </section>

<!--   <ul>
              <li> genetics </li>
              <li>seasonal changes</li>
              <li>personality traits</li>
              <li>significant life changes</li>
              <li>lack of social support or close relationships</li>
              <li>high stress levels</li>
              <li>underlying medical conditions such as heart attack or cancer</li>
          </ul>  -->