

<section id="answer">
    <div class="main container-fluid">

    
        <div id="good" class="px-5 mt-5">
            <h1 class="s-color py-2">Six encouraging phrases to say to a person with depression</h1>
            <div class="ps-3">
            <p>Here are some phrases and ideas that might help you support a person you care about who has depression.
                Listen and be sensitive to the person’s cues. If they don’t seem receptive, consider trying at a different time or taking a different approach.</p>
           <!-- --------------------------------------------------------------------- -->
           <ol>
              <li>  <h4 class="s-color">‘It’s OK to not feel OK’</h4></li>
           <p>Sometimes, they might feel shame if they’re experiencing difficult feelings, so it might help to remind them that it’s OK to feel that way.
             Making it safe for them to express and sit with their real feelings in your presence can go a long way.
            And just because right now is bad doesn’t mean later will be</p>
            <!-- ------------------------------------------------------- -->
              <li> <h4 class="s-color">‘I’m here for you, no matter what’</h4></li>
               <p>If your friend or loved one is feeling like they’re a burden or unworthy of your love, 
                it can help to remind them that you’re going to be there for them, always not just when things are going well.</p>
                <!-- -------------------------------------------- -->
               <li> <h4 class="s-color" >‘Help is available’</h4></li>
                <p>When someone feels hopeless, it can seem like nothing will help relieve their symptoms.But so many depression treatments exist,
                     so reminding the person you care about of this and helping them seek help if they need it can make a huge difference.</p>
                     <!-- ----------------------------------------------- -->
                    <li> <h4 class="s-color">‘Your story isn’t over’</h4> </li>
                     <p>If your friend or loved one is having suicidal thoughts, they may feel like there’s no point to living or that their life is already over.
                        But every day is another page in their story. </p>
                        <!-- ------------------------------------------ -->
                      <li>  <h4 class="s-color">‘You’re not alone’</h4> </li>
                        <p>It’s easy to feel isolated if you have depression.  which might lead your friend or loved one to feel even more alone.
                            You can remind your loved one that you’re here for them, and that depression is a very common mental health condition 
                             many people experience it and have gotten through it.</p>  
                             <!-- ------------------------------------- -->
                           <li>  <h4 class="s-color">‘You can move forward in the face of your depression’</h4> </li>
                             <p>Some people believe that having depression makes them “weak” or “broken.” The truth is that every day they get out of bed, go to work,
                                 or move forward while living with depression is proof of their ability to keep going.</p>
                                </ol>   
            </div>
        </div>
       


        <div id="bad" class="px-5 mt-5">
          <h1 class="s-color py-2">Ten phrases never to say to a person with depression</h1>
          <div class="ps-3">
          <p> Now it’s time to make sure you know what not to say.<br>
            If any of the below sound familiar, go ahead and get them out of your vernacular.</p>
         <!-- --------------------------------------------------------------------- -->
         <ol>
            <li>  <h4 class="s-color">‘It’s all in your head, you need to think positive’ </h4></li>
         <p>Optimism and having a hopeful outlook can certainly be important, but it’s important to remember that positive thinking doesn’t always work
           — especially when forcing it.</p>
          <!-- ------------------------------------------------------- -->
            <li> <h4 class="s-color">‘I know how you feel’</h4></li>
             <p>Even if you yourself have depression, you don’t know exactly how someone else with depression feels</p>
             <p>Depression, and mental health in general, is highly personal. They manifest differently from person to person.</p>
              <!-- -------------------------------------------- -->
             <li> <h4 class="s-color" >‘It could be worse’</h4></li>
              <p>If your loved one is confiding in you or tells you that they’re feeling seriously depressed, 
                don’t compare their situation with someone else’s or with an imaginary “more” worst-case scenario.</p>
                   <!-- ----------------------------------------------- -->
                  <li> <h4 class="s-color">‘You should be glad/grateful that…’</h4> </li>
                   <p>Telling your loved one to be grateful implies that they have depression or anxiety because they’re not appreciative in some way </p>
                      <!-- ------------------------------------------ -->
                    <li>  <h4 class="s-color">‘Don’t take yourself so seriously!’</h4> </li>
                      <p> Making jokes about their condition or teasing them doesn’t provide levity or humor; it’s insensitive and unhelpful.</p>  
                           <!-- ------------------------------------- -->
                         <li>  <h4 class="s-color">‘You’re so negative’</h4> </li>
                           <p>For someone with depression, this can be downright cruel to hear.
                            Making comments like “Stop being so negative,” “You’re such a worrier,
                            ” or “You’re miserable” to someone with depression or anxiety isn’t only brash, it’s more telling about you than them.</p>
                            <!-- ----------------------------------------------- -->
                            <li><h4 class="s-color"> ‘You’re just being selfish’</h4>   </li>
                            <p>Depression can often be an isolating condition, with a visible symptom of withdrwal. 
                              <br>Selfishness is putting yourself before all else; withdrawal is to srhink back and therefore deny yourself before all else — this is why depression intervention involves support.</p>
                              <!-- ------------------------- -->
                              <li> <h4 class="s-color">‘Be strong, don’t be so weak’</h4></li>
                              <p>Equating depression or mental health with weakness is ignorant.
                                 It also implies that someone can “get rid of” depression with willpower, or that they’re somehow defective.v</p>

                              <!-- ------------- -->
                              <li> <h4 class="s-color"> ‘Cheer up, smile more’</h4></li>
                              <p>Telling your loved one to “cheer up” or “just smile” implies that they have control over their depression or anxiety.
                                <br> “Faking it till you make it” doesn’t treat mental health any more than it can treat a physical wound.</p>
                                <!-- ------------ -->
                                <li> <h4 class="s-color"> ‘But you look happy’</h4></li>
                                <p>Depression and other mental health conditions don’t always “look” the same.</p>
                            
                            
                            
                            </ol>   
          </div>
      </div>
       
       </div>
               
         
     
    
    </section>













<!-- <p>Spotting the signs of depression
    king mental health support skyrocketed amid the global pandemic.
    
    It’s important to know upfront that depression is a unique experience for each individual.
     there’s no one cause of depression — it could stem from a combination of many factors, like genetic predisposition, personal history, 
     trauma, substance use, major life changes, work stress, family problems, or even an underlying health concern.</p>
<p>Listen to them
    Depression can be an isolating experience for some. One of the best things you can do is to let someone know they’re not alone and be open to what they want to share.
    
    It doesn’t have to be complicated, either. Simply listen to what they’re going through. Do not try to fix their problems, give unsolicited advice, or judge their feelings. It’s not something they can just “get over” or “snap out of.” If they could, they would’ve done it already.
    
    If you can relate, share your own experience and what you learned from it. Many people just want to be understood and know that someone cares.</p>


    <p>2. Help them find support
        When someone with depression decides to seek help, it can be an overwhelming experience. There are doctors, psychiatrists, psychologists, helplines, forums, and so much more.
        
        Once your loved one is actively in treatment, encourage them to keep going. If they talk about wanting to quit, or stop taking medications, suggest that they discuss it with a mental health professional first. You might want to tell them how much of a positive difference you’ve seen in them already.</p>

        <p>3. Offer to help with tasks
            For those who live with depression, even small tasks, like brushing teeth or cleaning up the kitchen, may drain emotional bandwidth. For this reason, offering to help with something seemingly small can make a huge difference in someone’s day.
            </p> -->
    