<section id="about">
<div class=" container-fluid main">
<div class="row g-3">
<div class="col-8 ">


    <div  id="title" class=" py-3 px-5 ">
      <h2 class="s-color pb-2">Depression</h2>
       <p class="mb-0">Also Known as major depression, major depressive disorder, or clinical depression</p>
       <p class="mb-0">is a common and serious medical illness that negatively affects how you feel, the way you think and how you act.</p>
       <p class="mb-0"> is a leading cause of disability around the world and contributes greatly to the global burden of disease.</p>
       <p>The effects of depression can be long-lasting or recurrent and can dramatically affect a person’s ability to function and live a rewarding life.</p>
    </div>



     <div id="types" class="px-5  ">
      <h2 class="s-color py-2">Types of Depression</h2>
      <p>The factors that contribute to depression can involve genetics, life experiences, childbirth, chemical imbalance, and even lack of sun exposure, but the common result is a life that is dull, unproductive, and colorless.
          Because depression can take various forms, it is helpful to have a basic understanding of the different types of depression.</p>
      <ul>
          <li> Major depressive disorder (MDD) is a serious mood disorder that can negatively impact all aspects of life, including work, family, and social spheres. </li>
          <li>Perinatal depression is depression experienced during or following pregnancy, with symptoms of severe sadness, fatigue and anxiety</li>
          <li>Persistent depressive disorder is prolonged symptoms that vary in severity over a period of at least two years</li>
          <li>Psychotic depression has the symptoms of MDD with accompanying symptoms of hallucinations or delusions</li>
          <li>Seasonal affective disorder (SAD) is depression that aligns with the winter months when shortened days limit natural sunlight exposure</li>
      </ul>
   


      </div>
     <div id="content" class="px-5 py-4 d-flex justify-content-between">
      <div class="row">
         <div class="col-12">
         <h2 class="pb-2 s-color">Depression symptoms</h2>
         <p>Depression varies in severity from person to person and can affect people physically and mentally.
             Common signs of depression include:</p>
            </div>
      <div class="col-6 ">
         <ul>
            <li>Low mood</li> <li>Low self-esteem</li>
            <li>Irritability</li> <li>Lack of enjoyment</li>
             <li >Lack of energy</li> <li >Changes in appetite/weight</li>
         </ul>
      </div>
      <div class="col-6 ">
         <ul >
         <li>Hopelessness</li><li>Guilt</li>
         <li>Lack of motivation</li><li>Suicidal thoughts</li>
         <li>Low sex drive</li><li>Menstrual changes</li> </ul>
      </div>
   </div>
     </div>
<div id="causes" class="px-5 py-3 ">
   <h2 class="s-color py-2">Depression causes</h2>
   <p>The causes of depression vary from person to person . Decades of research suggest there’s no one cause of depression, but instead, a complex blend of factors seems to increase your chance of experiencing the condition. 
      Experts have identified many of these factors, that seem to explain some of the symptoms of depression.</p>
    <ul>
      <li><span class="s-color">Biological differences: </span><br>People with depression appear to have physical changes in their brains. The significance of these changes is still uncertain, but may eventually help pinpoint causes.</li>
      <li> <span class="s-color">Brain chemistry:</span><br> Neurotransmitters are naturally occurring brain chemicals that likely play a role in depression. </li> 
      <li> <span class="s-color">Hormones:</span><br> Changes in the body's balance of hormones may be involved in causing or triggering depression.</li>
      <li><span class="s-color">  Inherited traits:</span><br> Depression is more common in people whose blood relatives also have this condition. Researchers are trying to find genes that may be involved in causing depression.</li>
   </ul>
   </div>
   
   </div>
   <div class="col-3 py-5   text-center ">
      <img src="../../../assets/all2.png" alt="g" class="w-100 mb-5">
      <div class="page m-auto  ">
     <h2>On This Page</h2><hr>
     <h6><a (click)="onClick('title')">Definition of Depression</a></h6>
     <hr>
     <h6><a (click)="onClick('types')">Types of Depression</a></h6>
     <hr>
     <h6><a (click)="onClick('content')">Symptoms of Depression</a></h6>
     <hr>
     <h6 class="mb-5 pb-5"><a (click)="onClick('causes')">Casues of Depression</a></h6>
  
   <div class="depressed my-5 w-100 ">
     <h4 class="fw-bolder">Do I have depression?</h4> 
     <p>Take your text test & image test to know</p>
      <button class="btn d-block ms-auto w-50 border-none border-0  text-light  pd-5" id="sendMessageButton" type="submit"  routerLink="/imgtest"> Go To Test</button>

   </div>
</div>


   </div>
</div>
   </div>
</section>
    <!-- <button type="submit" class="btn  ourQuiz" routerLink="/Quiz">Take Your Quiz </button> -->
    <!-- <div class="container m-3">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
       <div class="col">
          <div class="card">
             <div class="image overflow-hidden"><img class="card-img-top" src="../../../assets/symp.jpg" alt="" /></div>
             <div class="card-body hstack justify-content-between">
                <div>
 
                   <h4><a (click)="onClick('title')">Definition of Depression</a></h4>
                </div>
                <span class="text-primary border border-4 border-primary rounded-circle p-1">
                  <i class="fa-solid fa-angles-down"  (click)="onClick('title')"></i>
                </span>
             </div>
          </div>
       </div>
       <div class="col">
          <div class="card">
             <div class="image overflow-hidden"><img class="card-img-top" src="../../../assets/d2.jpg" alt="" /></div>
             <div class="card-body hstack justify-content-between">
                <div>
 
                   <h4><a (click)="onClick('counter')">Statistic of Depression</a></h4>
 
                </div>
                <span class="text-primary border border-4 border-primary rounded-circle p-1">
                  <i class="fa-solid fa-angles-down" (click)="onClick('counter')"></i>
                </span>
             </div>
          </div>
       </div>
       <div class="col">
          <div class="card">
             <div class="image overflow-hidden"><img class="card-img-top" src="../../../assets/d4.jpeg" alt="" /></div>
             <div class="card-body hstack justify-content-between">
                <div>
                   <h4><a (click)="onClick('types')">Types of Depression</a></h4>
                         </div>
                <span class="text-primary border border-4 border-primary rounded-circle p-1">
                  <i class="fa-solid fa-angles-down"></i>
                </span>
             </div>
          </div>
       </div>
 
       <div class="col">
          <div class="card">
             <div class="image overflow-hidden"><img class="card-img-top" src="../../../assets/s2.jpg" alt="" /></div>
             <div class="card-body hstack justify-content-between">
                <div>
                   <h4><a (click)="onClick('content')">Symptoms of Depression</a></h4>
                </div>
                <span class="text-primary border border-4 border-primary rounded-circle p-1">
                  <i class="fa-solid fa-angles-down" (click)="onClick('content')"></i>
                </span>
             </div>
          </div>
       </div>
 
 
        </div>
    </div> -->
    <!-- <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 p-3 g-3">

      <div class="col">
         <div class="contain">
            <img class="imgedit" src="../../../assets/t1.webp" alt="t1" >
            <a (click)="onClick('type1')"  class="centered">Major depressive disorder</a>
         </div>
      </div>

      <div class="col">
         <div class="contain">
            <img class="imgedit" src="../../../assets/t2.webp" alt="t2">
            <div (click)="onClick('type2')"  class="centered"> Perinatal depression</div>
         </div>
      </div>
      <div class="col">
         <div class="contain">
            <img class="imgedit" src="../../../assets/t3.webp" alt="t3">
            <div (click)="onClick('type3')"  class="centered">Persistent depressive disorder </div>
         </div>
      </div>
      <div class="col">
         <div class="contain">
            <img class="imgedit" src="../../../assets/t4.webp" alt="t4">
            <div (click)="onClick('type4')"  class="centered"> Psychotic depression </div>
         </div>
      </div>
      <div class="col">
         <div class="contain">
            <img class="imgedit" src="../../../assets/t5.webp" alt="t5">
            <div (click)="onClick('type4')"  class="centered"> Seasonal affective disorder </div>
         </div>
      </div>

    </div> -->
    <!--
     <div id="type1" class="All m-auto   z-3  w-75 text-center  justify-content-center ">
       <div class="name">
         <h2>major depressive disorder</h2>
         <p>Clinical depression, also known as major depressive disorder (MDD), is a mental health condition that causes a persistently low or depressed mood and a loss of interest in activities that once brought joy. Clinical depression can also affect how you sleep, your appetite and your ability to think clearly. These symptoms must be present for at least two weeks for a diagnosis.

            Clinical depression is a chronic condition, but it usually occurs in episodes, which can last several weeks or months. You’ll likely have more than one episode in your lifetime.</p>
       </div>

     </div>
      <div id="type2" class="All m-auto position-absolute z-3 p-5  "></div>
      <div id="type3 " class="All m-auto position-absolute z-3 p-5  "></div>
      <div id="type4" class="All m-auto position-absolute z-3 p-5  "></div>
      <div id="type5" class="All m-auto position-absolute z-3 p-5  "></div> -->
      <!--    <div id="counter">
        <div class="layer   ">
           <div class="container overflow-hidden">
              <div class="row gy-4 text-center">
                 <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="contain">
                       <span><i class="fa-solid fa-chart-line"></i></span>
                       <h3 class="h5">3.8%</h3>
                       <p>Population</p>
                    </div>
                 </div>

                 <div class="col-md-6 col-lg-4 col-xl-3">
                    <div>
                       <span><i class="fa-solid fa-chart-line"></i></span>
                       <h3 class="h5">5%</h3>
                       <p>Adults</p>
                    </div>
                 </div>

                 <div class="col-md-6 col-lg-4 col-xl-3">
                    <div>
                       <span><i class="fa-solid fa-chart-line"></i></span>
                       <h3 class="h5">5.7%</h3>
                       <p>Old aged</p>
                    </div>
                 </div>
                 <div class="col-md-6 col-lg-4 col-xl-3">
                    <div>
                       <span><i class="fa-solid fa-chart-line"></i></span>
                       <h3 class="h5">10%</h3>
                       <p>Pregent Women</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div> -->