<!-- <section id="home"class="m-auto text-center     ">
  <div class="contain d-flex  vh-100">
  <div class="imgg  ">
      <div class="imggg "> <img src="../../../assets/Wh-removebg.png" alt="remove"></div>
     
    </div>
  
      <div class="content w-50 pt-5">
        <h1 class="pt-3 s-color fw-bolder pb-2 my-3"> WHAT IS THE DEPRESSION?</h1>
        <p class="pe-5 me-5">Depression is a real mental illness that affects a person's mood, thoughts, behaviour, and physical health. </p>
        <p>We help you to detect Depression.</p>
        <a class="moree" routerLink="/about">READ MORE</a>
        <a class="more" routerLink="/signUp">signUp</a>
        
       </div>
      </div>  
 <div class="quiz  ">
  <h3 class="m-auto fw-bold pb-3 text-center ">Take a Depression Test</h3>
  <p class="">The Depression Test is for individuals who are feeling overwhelming sadness.</p>
  <a class='quizz' routerLink="/Quiz">Take Your Text Test</a><br><br>
  <a class='quizz' routerLink="/Question">Take Your image Test</a>
 </div>



</section> -->
<section class="hero" id="home">
  <nav  id="navbar-example" class="navbar navbar-expand-lg py-3" data-bs-theme="dark">
    <div class="container-fluid">
       <a class="navbar-brand ps-2 text-uppercase" >Depression Detection</a>
       <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
       >
          <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-semibold text-uppercase">
             

            <ul class="navbar-nav me-auto mb-2 me-5 pe-5 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link   p-1" routerLink="/home" routerLinkActive='activee text-light' >Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link   p-1" routerLink="/Depression" routerLinkActive='activee text-light' >Detection</a>
              </li>
            
            
      
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Test
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item py-1 m-auto text-center" href="http://127.0.0.1:5000" routerLinkActive='activee text-light'>TXT</a></li>
                  <li><a class="dropdown-item py-1 m-auto text-center" routerLink="/imgtest" routerLinkActive='activee text-light'>Img</a></li>
                 
                </ul>
                <li class="nav-item ">
                  <a class="nav-link   p-1" routerLink="/Aboutus" routerLinkActive='activee text-light' >About Us</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link   p-1" routerLink="//Login" routerLinkActive='activee text-light'>Logout</a>
                </li>
        
              </ul>
            

          </ul>
       </div>
    </div>
 </nav>



  <div class="layer">
     <div class="container d-flex justify-content-start align-items-start pt-5  vh-100 text-start">
        <div class="text-light">
           <h1 class=" ">DEPRESSION DETECTION</h1>
       <h6 class="ps-2">Early Detection for Your Protection</h6>
           <button type="submit" class="btn  bg-transparent me-2  mt-2" id="SeeMore"  routerLink="/Depression"> Explore </button>
           <button type="submit" class="btn quizbutton bg-transparent  mt-2 " routerLink="/imgtest"> Test </button>
  
        </div>
     </div>
  </div>
</section>