<section id="blog">
<div class="quiz p-3 m-auto my-5  w-75 shadow-lg  s-color ">
  <div class="row">
    <div class="col-"><h1>Depression Detection</h1></div>
    <div class="col-6 p-3 d-flex justify-content-around m-auto test"> 
       <a class='quizz' routerLink="/txttest">Take Your Text Test</a>
      <a class='quizz ' routerLink="/imgtest">Take Your image Test</a></div>
  </div>
</div>


<div class="container ">
 <div class="row  m-5 g-4 ">
<div class="col-2"><img src="../../../assets/s2.png" alt="b1" class="w-100 rounded imgcol" routerLink="/About"></div>
<div class="col-4 m-auto"><a routerLink="/About" ><h3>All About Depression</h3></a>
<p>Depression definition,sympotoms, types and causes.</p>
</div>
<div class="col-2"><img src="../../../assets/q&a.jpeg" alt="b1" class="change w-100 rounded imgcol"  routerLink="/Qu&Answer"></div>
<div class="col-4 m-auto"><h5> <a  routerLink="/Qu&Answer" >Your Questions Answered about Depression </a> </h5>
</div>
<div class="col-2"><img src="../../../assets/wo.jpeg" alt="b1" class="w-100 rounded imgcol" routerLink="/effect"></div>
<div class="col-4 m-auto"><h4><a  routerLink="/effect" >How Depression affects Relationship & work </a></h4>
  <p>Side Effects about depression</p>
</div>
<div class="col-2"><img src="../../../assets/treatments.jpeg" alt="b1" class="w-100 rounded imgcol" routerLink="/Treatment" ></div>
<div class="col-4 m-auto"><h3><a  routerLink="/Treatment" >Treatment </a></h3>
<p>Psychotherapy,Medications,Brain stimulation therapy,Hospitalization for depression & Self-help strategies
</p></div>
<div class="col-2"><img src="../../../assets/lab.jpeg" alt="b1" class="w-100 rounded imgcol hotline"routerLink="/Hotlines"></div>
<div class="col-4 m-auto"><h3 routerLink="/Hotlines">Hotline Numbers</h3>
<p>Depression Hotline Numbers </p></div>
<div class="col-2"><img src="../../../assets/state.jpeg" alt="b1" class="w-100 rounded imgcol " routerLink="/phrases"></div>
<div class="col-4 m-auto"><h3 routerLink="/phrases"> phrases</h3>
<p>encouraging phrases</p></div>
 </div>
 </div>

     





</section>


