<section id="answer">
    <div class="main container-fluid">
    <div class="row g-3">
    <div class="col-8">
    
    
        <div  id="title" class=" py-3 px-5 my-3 ">
          <h2 class="s-color pb-3">Depression Hotline Numbers</h2>
          <div class="ps-2">
           <p>Depression hotlines offer free and confidential access to qualified professionals and volunteers for those in immediate need of support.</p>
           <p>Depression is one of the most common mental health conditions. The World Health OrganizationTrusted Source estimates that 264 million people worldwide are living with depression.</p>
           <p>Many people with depression isolate themselves from those they love and others who may want to help. Isolation can make symptoms seem worse.</p>
           <p> A depression crisis can be scary and overwhelming, not only for the individual but also for loved ones who often don’t know what to do or what to say. In those moments, it’s hard to know where to start.</p>
          <p>It’s estimated that in 2018, more than 2 million people called the National Lifeline for help. Many crisis centers report a 30-40% increase in calls due to the COVID-19 pandemic.</p>
        <span class="fw-bolder " >Here’s a look at hotline numbers you can call for help.</span>
    </div>

        </div>  
     <div id="types" class="px-5 ">
          <h2 class="s-color py-2">Depression hotline numbers you can call</h2>
          <h5 class="s-color py-2 ">National Suicide Prevention Lifeline: 800-273-8255 (TALK)</h5>
          <div class="ps-2">
          <p>The National Suicide Prevention Hotline offers free and confidential support to those in immediate emotional distress. The hotline provides suicide prevention resources as well as access to local crisis centers.

            You don’t have to be actively thinking about suicide to use this service — anyone in emotional distress can call and use their services.</p>
        </div>
          </div>
         <div id="content" class="px-5 ">
        <h5 class="s-color py-2">Samaritans: 877-870-4673 (HOPE) (call or text)</h5>
        <p>Samaritans offers immediate emotional support for those in distress. If you’re thinking about suicide or have lost someone to suicide, the volunteers at Samaritans can help. </p>
         </div>
     <div id="causes" class="px-5 mb-5">
       <h5 class="s-color py-2">Friendship Line: 800-971-0016</h5>
       <div class="ps-2">
        <p>As the only hotline targeted toward people 60 years old and older and adults with disabilities, the Institute on Aging’s Friendship Line offers emotional support and suicide intervention.

            The Friendship Line is also there to simply listen.</p>
            <p>Trained volunteers help older adults experiencing depression symptoms and loneliness and offer grief support.</p>
       </div>
       </div>
       <div id="when"  class="px-5 py-3 my-5">
        <h2 class="s-color py-2">When should you call a depression hotline?</h2>
        <div class="ps-2">
        <p>Many people turn to depression hotlines because they don’t feel comfortable talking with others about their feelings. They may feel as if friends and family won’t understand or even overreact to what they say.</p>
       <p>A depression crisis can be scary. Talking with someone immediately can often help. A 2019 systematic reviewTrusted Source found that crisis line services can help in the short-term and for immediate assistance.</p>    
        <p class="fw-bold s-color">Some reasons people call hotlines:</p>
        <ul>
            <li>Talk with someone who will listen and understand what they’re going through.</li>
            <li>Learn more about what they’re going through and the type of help available.</li>
            <li>Get confidential and anonymous help.</li>
            <li>Learn how to help a loved one who is experiencing depression.</li>
            <li>Find a counselor or therapist.</li>
            <li>The immediate access to counselors and trained volunteers can -bridge the gap between a crisis and treatment by a mental health professional.</li>
        </ul>
        <p><span class="fw-bold s-color">Remember:</span> When you call a crisis hotline, the call is confidential and private. There’s no judgment, and no one will think less of you for what you say.</p>
       <p>You don’t have to be depressed to call a hotline, either. If you’re concerned about someone you love who may be going through a depression crisis, a hotline is a great place to learn more about how you can help.</p>    
    </div>
       </div>
       </div>
      
       <div class="col-3 py-5   text-center  ">
         <img src="../../../assets/hotlines.jpeg" alt="g" class="w-100 mb-5">
         <div class="page m-auto ">
            <h3><a routerLink="/Depression" class="s-color"> More About depression</a></h3><hr>
        <h6><a routerLink="/About"> All About Depression</a></h6>
        <hr>
        <h6><a routerLink="/Qu&Answer">Questions & Answers about depression</a></h6>
        <hr>
        <h6><a routerLink="/effect">Effect of depression on relations & work</a></h6>
        <hr>
        <h6><a routerLink="/Treatment">Depression Treatment</a></h6>
     
      <div class="depressed my-5 w-100">
        <h4 class="fw-bolder">Do I have depression?</h4> 
        <p>Take your text test & image test to know</p>
         <button class="btn d-block ms-auto w-50 border-none border-0  text-light  pd-5" id="sendMessageButton" type="submit"  routerLink="/imgtest"> Go To Test</button>
   
      </div>
   </div>
   
   
      </div>
    </div>
       </div>
    </section>

